body {
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

#nav {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.screen {
    padding: 20px;
}

.hidden {
    display: none;
}
